node_modules/
**/node_modules/

.env
.env.*
**/.env
**/.env.*

dist/
dist-ssr/
**/dist/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
.idea/

*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.pem